body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 2rem;
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1em;
}
main {
  overflow: hidden;
  position: relative;
}
p.error {
  clear: both;
  color: #f00;
  padding: 0.25rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
form, .addresses {
  float: left;
  width: 60%;
}
.events {
  float: right;
  width: 40%;
}
.addresses pre {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
}
.addresses .selected > pre {
  outline: 1px dashed #333;
}

.comparison-display {
  position: absolute;
  border: 2px solid black;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;border-radius: 4px;
  left: 10%;
}

.comparison-display .controls {
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
}

.event-viewer {
  display: inline-block;
  overflow-x: auto;
  width: 50%;
  vertical-align: top;
}

.glass {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 20%;
}

.index-0 .highlight {
  background-color: lightsalmon;
}

.index-1 .highlight {
  background-color: lightskyblue;
}

.name-value {
  margin-left: 20px;
}